credentials.json
credentials_gc.json
credentials_gd.json
credentials_gs.json
file_remove.py
*test*
github
github.pub
Google_setting.json
Log_out.py
Lunch.sh
RP_stat.10s.py
settings.yaml
Slack_conf.json
SlackStat.10s.py
SlackStat.sh
SlackStatusChange.txt
temp_Meeting.sh
token.pickle
*.pickle
Work.sh
Workaround.txt
data/credentials.json
log/*
RP_log/*
AWS_Lambda.py
test/*
MyStatusUI-e4297e72e54f.json
*.ps1
*.zip
__pycache__
.cache
.idea
.ipynb_*
.python-version
